.organization_container {
  border-radius: 40px;
  box-shadow: 0px 0px 8px 4px var(--primary-color);
  margin-bottom: 30px;
  padding: 20px;

  & button {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }

  & p {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }

  & p:first-child {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }
}
